<meta name="viewport" content="width=device-width, initial-scale=1">
<%--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">--%>

<link rel="stylesheet" href="http://localhost:8080/Webcomponents/common/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://localhost:8080/Webcomponents/common/css/myStyleSheet.css">
